<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contact Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    
</body>
</html>

<html>
   <body>
    <div class="container">
        <div class="row">
            <div >
                    <form action = "/enquiry" method = "POST">
                        <div class="row">
                            <div class="input-field col s6">
                                <input  id="first_name" type="text" class="validate" name = "first_name">
                                <label for="first_name">First Name</label>
                              </div>
                              <div class="input-field col s6">
                                <input id="last_name" type="text" class="validate" name = "last_name">
                                <label for="first_name">Last Name</label>
                              </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s8">
                                <input id="subject" type="text" class="validate" name="subject">
                                <label >Subject</label>
                              </div>
                              <div class="input-field col s4">
                                    <input id="email" type="email" class="validate" name = "email">
                                    <label for="email">Email</label>
                                  </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="message" type='text' class="materialize-textarea" name="message"></input>
                                <label for="message">Message</label>
                              </div>
                        </div>
                        <div class="row">
                                <div class="input-field col s12">
                                        <input class='btn waves-effect waves-light' type = "submit" value = "submit" /></p>
                                  </div>
                            </div>
                      </form>
            </div>
        </div>
    </div>
      
   </body>
</html>